
# Created by https://www.toptal.com/developers/gitignore/api/prestashop
# Edit at https://www.toptal.com/developers/gitignore?templates=prestashop

### Prestashop ###
# Cache, temp and personal files

/.htaccess
*.log

# Cache
/cache/*

# Download
/download/*

# Images
/img/*
# Upload
/upload/*

/vendor/*


/admin-dev/autoupgrade/*

/admin-dev/backups/*

/admin-dev/import/*

/admin-dev/export/*

# Downloaded RTL files
/admin-dev/themes/default/css/bundle/default_rtl.css
/admin-dev/themes/default/css/bundle/shared_rtl.css
/admin-dev/themes/default/css/font_rtl.css
/admin-dev/themes/default/css/overrides_rtl.css
/admin-dev/themes/default/css/vendor/font-awesome/font-awesome_rtl.css
/admin-dev/themes/default/css/vendor/nv.d3_rtl.css
/admin-dev/themes/default/css/vendor/titatoggle-min_rtl.css
/admin-dev/themes/default/public/theme_rtl.css
/admin-dev/themes/new-theme/css/module/drop_rtl.css
/admin-dev/themes/new-theme/css/right-sidebar_rtl.css

themes/*/cache/*

# Config

config/settings.inc.php
config/settings.old.php
config/xml/*
config/themes/*
themes/*/config/settings_*.json
app/config/parameters.old.yml
app/config/config.php

# Themes, modules and overrides

modules/*
!modules/frozenshipping
override/*
themes/*

# Vendors and dependencies

bower_components/
node_modules/
composer.phar
php-cs-fixer
.grunt/*

# Translations and emails templates

translations/*
mails/*
themes/default-bootstrap/lang/*
themes/default-bootstrap/modules/*/translations/*.php
themes/default-bootstrap/mails/*
themes/default-bootstrap/modules/*/mails/*

# MISC

*sitemap.xml
/robots.txt

# Symfony

/bin/
/app/Resources/geoip/GeoLite2-City.mmdb
/app/Resources/translations/*
/app/config/parameters.yml
/app/config/parameters.php
/build/
/phpunit.xml
/var/*
/var/cache/*
/var/logs/*
/var/sessions/*
/vendor/
/web/bundles/


# End of https://www.toptal.com/developers/gitignore/api/prestashop