<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>customshipping</name>
	<displayName><![CDATA[lxFrance custom shipping]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module is developed to specify a shipping method for a certain category of products]]></description>
	<author><![CDATA[lxfrance]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
